.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Chart */
.tick-xAxis {
    width: 40px;
    text-align: center;
    transform: translateX(-50%);
    flex-direction: column;
    display: flex;
    align-items: center;
}

.common-tick {
    height: 40px;
}

.event-tick {
    height: 80px;
}


.tick-xAxis .connector {
    width: 1px;
    background: black;
    flex-grow: 1;
    margin-bottom: 5px;
}

/* overflow of parent of labels on xAxis */
.highcharts-xaxis-labels > span {
    overflow: visible !important;
}
